/wordpress/*
!/wordpress/wp-content
/wordpress/wp-content/*
!/wordpress/wp-content/themes
/wordpress/wp-content/themes/*
!/wordpress/wp-content/themes/alexandreurbain
!/wordpress/wp-content/uploads
/wordpress/wp-content/uploads/*
!/wordpress/wp-content/uploads/2024