.type-forms {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

.type-forms .post__content,
.type-forms .post__form {
    position: relative;
    width: 30em;
    min-height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-forms .post__content {
    background-color: var(--color-main);
    color: var(--color-second);
    margin-right: 2em;
}

.type-forms .post__form {
    margin-left: 2em;
    padding: 1em 0;
}

.type-forms .post__form p {
    margin: 0;
}

.type-forms .post__form::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2em;
    height: 100%;
    width: 2px;
    background-color: var(--color-main);
}

.type-forms .post__form input,
.type-forms .post__form textarea {
    border: 2px solid var(--color-main);
    padding: 1em;
    width: calc(100% - 2em - 4px);
    margin-bottom: 1em;
    font-family: inherit;
    font-size: inherit;
}

.type-forms .post__form input[type="submit"] {
    background: var(--color-main);
    color: var(--color-second);
    width: 100%;
    margin-bottom: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.type-forms .post__form br {
    display: none;
}

.type-forms .post__form .wpcf7 form .wpcf7-response-output {
    border: 0;
    text-align: center;
    color: var(--color-error);
    margin: 1em 0 0;
}

.type-forms .post__form .wpcf7 form.sent input[type="submit"] {
    display: none;
}

.type-forms .post__form .wpcf7 form.sent .wpcf7-response-output {
    color: var(--color-second);
    background-color: var(--color-main);
    padding: 1em;
    margin: 0;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 735px) {
    .type-forms {
        flex-direction: column-reverse;
    }

    .type-forms .post__form {
        margin-left: 0;
    }

    .type-forms .post__content {
        margin-right: 0;
    }

    .type-forms .post__form::before {
        content: unset;
    }
}