html {
    /* Color Variable */
    --color-blue: #083a53;
    --color-green: #a0f2c9;
    --color-red: #ed4337;

    --color-background: #000;
    --color-text: #fff;

    --color-main: var(--color-green);
    --color-second: var(--color-blue);
    --color-error: var(--color-red);

    /* Size Variable */
    --header-height: 5em;
    --footer-height: 2em;

    /* Fonts */
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
}

body, input, textarea {
    background-color: var(--color-second);
    color: var(--color-main);
}

body.darker {
    --color-main: var(--color-blue);
    --color-second: var(--color-green);
    /* --color-background: #fff;
    --color-text: #000; */
}